html{
  width: 100%;
  background-color: #999;
  font-family: "微軟正黑體","Microsoft JhengHei";
  color: #1e785c;
  text-align: center;
  line-height: 36px;
  letter-spacing: 3px;
}

body,input,button,select,textarea{
font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
font-size:108%;
}
h3,h5{
font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
}

body{
  width: 100%;
  margin: 0;
}

.glyphicon-chevron-up{
  display: none;
  position: fixed;
  z-index:1000;
  top: 90%;
  right: 150px;
  font-size: 35px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 13px 12px 15px 18px;
  border-radius: 50%;
}
.glyphicon-chevron-up:hover{
  color: #aaa;
}
@media screen and (max-width:768px) {
  .glyphicon-chevron-up{
    right: 10px;
  }
}

logo img{
  position: fixed;
  z-index: 1000;
  left: 0px;
  height: 45px;
  margin-top: 10px;
  margin-left: 15px;
}
logo img:hover{
  //box-shadow: 0 0 3px black;
  padding: 3px;
}
@media screen and (max-width:1024px) {
  logo img{
    position: fixed;
    z-index: 1000;
    left:0px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
  }
}

/*btn*/
.bar{
  display: none;
  width: 100%;
  height: 65px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width:1024px) {
  .bar{
    height: 60px;
  }
}

.butn{
  position: fixed;
  right: 0px;
  z-index: 1000;
  text-align: right;
  padding-top: 10px;
  margin-right: 15px;
}
.butn>.search_btn:hover, .butn>.login_btn:hover, .butn>button:hover{
  background-color: rgba(0, 0, 0, 0.5);
//  border-radius: 50%;
//  box-shadow: 0 0 3px black;
  padding: 0 3px;
}

@media screen and (max-width: 1024px){
  .btn{
    position: fixed;
    z-index: 1000;
    right: 0px;
    text-align: right;
    padding-top: 10px;
    margin-right: 5px;
  }
}

/*search*/
#___gcse_0{
  display: inline-block;
  display: none;
  position: absolute;
  top: 15px;
  right: 170px;
  height: 50px;
//  padding:5px 15px;
//  background:#fff;
  width: 200px;
  border:0 none;
  cursor:text;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
}
#___gcse_0>div{
  padding: 0;
}
.gsc-search-button input[type="image"]{
  padding: 0px;
}
@media screen and (max-width: 1024px){
  #___gcse_0 /* input[type="text"]*/{
    position: absolute;
    height: 30px;
    top: 10px;
    right: 132px
  }
}


/*search login btn*/
.search_btn, .login_btn{
  margin-right: 15px;
  cursor:pointer;
}
@media screen and (max-width: 1024px){
  .search_btn, .login_btn{
    height: 40px;
  }
}

/*login*/
.login{
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/banner_ham.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  padding: 100px;
}
#sign-info{
  color: #fff;
}
@media screen and (max-width: 768px){
  .login{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}
.login input[type="text"],.login input[type="password"]{
  height: 40px;
  width: 250px;
  padding:5px 15px;
  margin-bottom: 10px;
  background:#fff;
  border:0 none;
  cursor:text;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.login button{
  font-size: 14px;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0);
  width: 83px;
  height: 40px;
  margin-top: 10px;
  color: #fff;
  padding: 0;
}
.login .glyphicon-remove{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
  }

.glyphicon-remove:hover{
    color: #aaa;
}

/*login*/

/*ham*/
.hamburger {
  font-size: 40px;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  vertical-align: middle;
  border: 0 none;
  background: transparent;
}
@media screen and (max-width: 1024px){
  .hamburger{
    font-size: 35px;
  }
}
/*+ Button height fix for Firefox*/
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}
/*+ Focus fix for Chrome*/
.hamburger:focus {
  outline: 0;
}
.hamburger:before,.hamburger:after {
  content: "";
}
.hamburger:before,.hamburger .icon,.hamburger:after {
  display: block;
  width: 100%;
  height: .2em;
  margin: 0 0 .2em;
  transition: transform .2s ease-in-out;
  border-radius: .05em;
  background: #FFF;
}
/*+ Styles for the active `.hamburger` icon*/
.hamburger.active:before,.hamburger.active .icon,.hamburger.active:after {
  background: #FFF;
}
/* + VERTICAL HAMBURGER*/
.hamburger.hamburger-vertical.active {
  transform: rotate(270deg);
}
/*+ CLOSE/CANCEL/CROSS*/
.hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
}
.hamburger.hamburger-cancel.active:before {
  transform: translateY(.4em) rotate(135deg);
}
.hamburger.hamburger-cancel.active:after {
  transform: translateY(-.4em) rotate(-135deg);
}
/*btn end*/

/*ham menu*/
.hamburger_menu{
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/banner_ham.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
}
.hamburger_menu ul{
  width: 100%;
  height: 100%;
  text-align: center;
  list-style: none;
  margin-top: 150px;
}
.hamburger_menu li{
  margin-bottom: 70px;
  font-size: 24px;
}
.hamburger_menu a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 50px;　
}
.hamburger_menu a:hover{
  color: #aaa;
  text-decoration: none;
}
/*ham menu end*/
@media screen and (max-height: 600px){/*ham menu < L*/
  .hamburger_menu ul{
    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
    margin-top: 100px;
  }
  .hamburger_menu li{
    margin-bottom: 40px;
    font-size: 20px;
  }
  .hamburger_menu a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 40px;　
  }
}

/*banner*/
.banner{
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
  height: 920px;
}
.banner img{
  padding: 0px;
  //width: 100%;
  //max-width:1903px;
  height: 920px;
  margin-left: auto;
  margin-right:auto;
}

.banner_p{
  position: absolute;
  top: 150px;
  right: 25%;
  left: 25%;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  width: 50%;
  padding: 50px;
}
@media screen and (max-width: 768px){
  .banner_p{
    top: 50px;
    width: 80%;
    right: 10%;
    left: 10%;
    padding: 20px;
  }
}
.banner_p p{
  line-height: 24px;
  letter-spacing: 2px;
  font-size: 14px;
  max-width: 400px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.banner_p span{
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
  color: #000;
}
.banner_p span:hover{
  color: #aaa
}
/*banner*/

/*content*/
.container{
  color: #555;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 14px;
  width: 50%;
}
@media screen and (max-width: 1024px){
  .container{
    width: 80%;
  }
}
.container p{
  line-height: 30px;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.container a{
  text-decoration: none;
  color: #5092d3;
}
.container a:hover{
  color: #aaa;
}
.container iframe{
//  max-width: 700px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
}

.container div{
  padding-top: 20px;
  padding-bottom: 40px;
}

.artist{
  text-align: center;
  width: 100%;
  //padding-left: 150px;
  //padding-right: 150px;
}
@media screen and (max-width:768px) {
  .artist{
    margin: 0;
    padding: 0;
  }
}
.artist img{
  border-radius: 50%;
  cursor: pointer;
  width: 128px;
  padding: 0px;
  margin-top: 20px;
}
.artist img:hover{
  border-radius: 0%;
  box-shadow: 0 0 5px black;
}

.container td{
  padding: 20px;
}
/*content*/

/*work*/
.works{
  color: #fff;
}
#works_1,#works_2,#works_3{
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 300px;
}
@media screen and (max-width:768px) {
  #works_1,#works_2,#works_3{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
  }
}
.works>div{
  padding-top: 100px;
}
.row{
  overflow: hidden;
}
.works_img{
  padding: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.works .glyphicon-remove{
  position: fixed;
  top: 20px;
  right: 50px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width:768px) {
  .works .glyphicon-remove{
    right: 20px;
  }
}
.works .glyphicon-remove:hover{
  color: #aaa;
}
/*work*/

/*footer*/
footer{
  background-color: #bbb;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #888;
  margin-top: 100px;
}
/*footer*/

.heart_target{
  position: relative;
}
.hearteare{
  height:25px;
  width:55px;
  position: absolute;
  top:30px;
  right:30px;
}
.hearteare p{
  float:right;
  text-shadow: 0px 0px 2px black;
}
.heart:hover{
  width:25px;
}
.works iframe{
  position: absolute;
  top: 25px;
  left: 20px;
}




.clear:after{
  content: " ";
  display: block;
  clear: both;
}
