html{
  width: 100%;
  background-color: #999;
  font-family: "微軟正黑體","Microsoft JhengHei";
  color: #1e785c;
  text-align: center;
}

body,input,button,select,textarea{
font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
font-size:108%;
}

body{
  width: 100%;
  margin: 0;
}

logo img{
  position: fixed;
  z-index: 1000;
  left: 0px;
  height: 45px;
  margin-top: 10px;
  margin-left: 15px;
}
@media screen and (max-width:1024px) {
  logo img{
    position: fixed;
    z-index: 1000;
    left:0px;
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
  }
}

/*btn*/
.bar{
  display: none;
  width: 100%;
  height: 65px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (max-width:1024px) {
  .bar{
    height: 50px;
  }
}

.butn{
  position: fixed;
  right: 0px;
  z-index: 1000;
  text-align: right;
  padding-top: 10px;
  margin-right: 15px;

}

@media screen and (max-width: 1024px){
  .btn{
    position: fixed;
    z-index: 1000;
    right: 0px;
    text-align: right;
    padding-top: 10px;
    margin-right: 5px;
  }
}

/*search*/
.search_bar{
  display: inline-block;
}
.search_bar input{
  display: none;
  position: absolute;
  top: 17px;
  right: 172px;
  height: 30px;
  padding:5px 15px; background:#fff; border:0 none;
  cursor:text;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 1024px){
  .search_bar   input{
    position: absolute;
    height: 30px;
    top: 10px;
    right: 132px
  }
}


/*search login btn*/
.search_btn, .login_btn{
  margin-right: 15px;
  cursor:pointer;
}
@media screen and (max-width: 1024px){
  .search_btn, .login_btn{
    height: 30px;
  }
}

/*login*/
.login{
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/banner_ham.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
}
/*login*/

/*ham*/
.hamburger {
  font-size: 40px;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  vertical-align: middle;
  border: 0 none;
  background: transparent;
}
@media screen and (max-width: 1024px){
  .hamburger{
    font-size: 30px;
  }
}
/*+ Button height fix for Firefox*/
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}
/*+ Focus fix for Chrome*/
.hamburger:focus {
  outline: 0;
}
.hamburger:before,.hamburger:after {
  content: "";
}
.hamburger:before,.hamburger .icon,.hamburger:after {
  display: block;
  width: 100%;
  height: .2em;
  margin: 0 0 .2em;
  transition: transform .2s ease-in-out;
  border-radius: .05em;
  background: #FFF;
}
/*+ Styles for the active `.hamburger` icon*/
.hamburger.active:before,.hamburger.active .icon,.hamburger.active:after {
  background: #FFF;
}
/* + VERTICAL HAMBURGER*/
.hamburger.hamburger-vertical.active {
  transform: rotate(270deg);
}
/*+ CLOSE/CANCEL/CROSS*/
.hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
}
.hamburger.hamburger-cancel.active:before {
  transform: translateY(.4em) rotate(135deg);
}
.hamburger.hamburger-cancel.active:after {
  transform: translateY(-.4em) rotate(-135deg);
}
/*btn end*/

/*ham menu*/
.hamburger_menu{
  display: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/banner_ham.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
}
ul{
  width: 100%;
  height: 100%;
  text-align: center;
  list-style: none;
  margin-top: 150px;
}
li{
  margin-bottom: 70px;
  font-size: 24px;
}
a{
  text-decoration: none;
  color: #fff;
  letter-spacing: 50px;　
}
a:hover{
  color: #aaa;
  text-decoration: none;
}
/*ham menu end*/
@media screen and (max-height: 600px){/*ham menu < L*/
  ul{
    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
    margin-top: 100px;
  }
  li{
    margin-bottom: 40px;
    font-size: 20px;
  }
  a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 40px;　
  }
}

/*banner*/
.banner{
  width: 100%;
  box-sizing: content-box;
  overflow: hidden;
  height: 920px;
}
.banner img{
  padding: 0px;
//  width: 100%;
  height: 920px;
  margin-left: auto;
  margin-right:auto;
}

.banner_p{
  position: absolute;
  top: 200px;
  right: 25%;
  left: 25%;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  width: 50%;
  padding: 50px;
}

.banner_p span{
  font-size: 20px;
  margin-top: 30px;
  cursor: pointer;
}
/*banner*/

/*content*/
.container{
  color: #555;
  padding-top: 50px;
  padding-bottom: 20px;
}
.container div{
  padding-top: 20px;
  padding-bottom: 40px;
}

.artist{
  margin-left: -100px;
}
.artist img{
  margin-left: 100px;
  border-radius: 50%;
  cursor: pointer;
}
/*content*/

/*footer*/
footer{
  background-color: #bbb;
  padding-top: 40px;
  padding-bottom: 20px;
}
/*footer*/

.clear:after{
  content: " ";
  display: block;
  clear: both;
}
